.invalid-border {
    border: 2px solid rgba(255,0,0,0.7)
}
.valid-border {
    border: 2px solid rgba(255,255,255,0.7)
}
#sign-in-popup {
    height: 400px;
    width: 500px;
    position:fixed;
    top:50%;
    left:50%;
    margin:-250px 0 0 -250px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}
#sign-in-popup h2 {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: 8%;
    margin-bottom: 3%;
}

#sign-up-popup {
    height: 600px;
    width: 500px;
    position:fixed;
    top:50%;
    left:50%;
    margin:-250px 0 0 -250px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}
#sign-up-popup h2 {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: 8%;
    margin-bottom: 3%;
}


.input-info {

    width: 350px;
    height: 40px;
    margin: 6% auto;
    padding: 10px auto;
}

.input-info input {
    border-style:none;
    background-color: transparent;
    outline: none;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    color: #fff;
    width: 350px;
    box-sizing: border-box;
}
/* sign页面图标  */
.usernameSignUp,
.username {
     background: url("../image/person.png") no-repeat 310px 5px;
}
.passwordSignUp,
.password {
     background: url("../image/lock.png") no-repeat 310px 5px;
}
.emailAddress {
     background: url("../image/email.png") no-repeat 310px 5px;
}
.firstName,
.familyName {
     background: url("../image/name.png") no-repeat 310px 5px;
}

/* 登录按钮样式 */
.sign-page-button {
    width: 350px;
    margin:15% auto 0 auto;
    text-align: center;
}
.sign-page-button a {
    width:35%;
    border: 1px solid black;
    padding: 10px 20px;
    display: inline-block;
    width: 130px;
    box-sizing: border-box;
    cursor:pointer;
    border:none;
    color:#fff;
    font-size:20px;
    font-weight: 300;
    text-transform:uppercase;
	border-radius:4px;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;

}
.sign-page-button a:nth-child(1) {
    margin-right: 40px;
    background-color: rgba(76,154,57, 0.8);


}

.sign-page-button a:nth-child(2) {
    margin-left: 40px;
    background-color: rgba(192,57,43, 0.8)
}
.sign-page-button a:hover {
    background-color:rgba(55,109,41, 0);
	color:#fff;
}
/* placeholder更改样式  */
 ::-webkit-input-placeholder { /* WebKit browsers */
       color: rgba(255, 255, 255, 0.7);
     }
     :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: rgba(255, 255, 255, 0.7);
     }
     ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: rgba(255, 255, 255, 0.7);
     }
     :-ms-input-placeholder { /* Internet Explorer 10+ */
       color: rgba(255, 255, 255, 0.7);
     }
 .invalid-email,
 .invalid-first-name,
 .invalid-family-name,
 .invalid-username,
 .invalid-password {
    display: block;
    height:36px;
    margin: -30px 0 -36px 73px;
    color: rgba(187,46,34, 1);
    font-size: 16px;
 }